@font-face {
  font-family: 'JB Mono';
  src: url('/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cm-tooltip,
.cm-tooltip-section {
  white-space: pre-line;
  max-width: 500px;
  padding: 5px;
}
.cm-content {
  font-family: 'JB Mono', sans-serif;
}
