@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: transparent;
  }
}
/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #ffffff7b;
  border-radius: 10px;
}

/* 滚动条滑块:hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffffa7;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f121;
  border-radius: 10px;
}

input[type='color'] {
  border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}
